header {
    background-color: rgb(203, 202, 250);
    display: flex;
  }

.fishCard {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .fishCard {
  
 }

}
  .fishCard__img {
    width: 25%;
  }

  .fishCard__name {
    font-weight: bold;
  }
    
  .containerLeft__fishList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: left;
    
  }

  .fishImage {
    width: 300px;
    height: 200px;
    border-radius: 60px;
  }

    .containerRight {
        background-color: rgb(119, 224, 184);
        border-style: solid;
        border-width: medium;
        border-color: black;
       
      }
      .contentArticle {
        background-color:rgb(151, 115, 250);
      }
      
      .contentContainer {
        display: flex;
        justify-content: space-between;
      }
      
      
      
      .containerRight {
        flex-basis: 25%;
      }
    
    
     .quoteCard {
        text-align: center;
        border: 3px solid black; 
    }


.containerRight {
 text-align: center;
}
.tipsText {
  text-align: left;
}